/* Document global styles */
html {
    background: rgb(0, 255, 25);
    background: linear-gradient(180deg, rgba(0, 255, 25, 1) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 255, 29, 1) 100%);
}

* {
    font-family: sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------------------- index.html ----------------------------- */

header#header-index {
    padding: 2rem;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* --------- Header ---------- */

header>h1#title {
    color: yellow;
    background-color: rgba(0, 0, 255, 0.398);
    padding: 1rem;
    border-radius: 1.5rem;
    max-width: fit-content;
    transition-duration: .5s;
}

header>h1#title:hover {
    background-color: black;
    color: rgb(0, 255, 25);
    outline: .2rem solid yellow;
}

/* --------- Main ---------- */

main#main-index {
    padding: 2rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
}

main#main-index>div#squeezable-cat {
    max-width: max-content;
}

form {
    outline: .3rem solid rgb(0, 255, 0);
    border-radius: 1rem;
    background-color: rgba(253, 0, 160, 0.211);
}

main#main-index>div#animal-select {
    max-width: fit-content;
    background-color: black;
    border-radius: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

fieldset {
    padding: 2rem;
    border-radius: 1rem;
}

label[for='animal'] {
    color: yellow;
}

select#animal {
    background-color: yellow;
    margin: .5rem;
    border-radius: .5rem;
    padding: .3rem;
}

fieldset#select-2 {
    display: none;
}

label[for='type'] {
    color: rgb(0, 255, 0);
}

select#type {
    background-color: rgb(0, 255, 0);
    margin: .5rem;
    border-radius: .5rem;
    padding: .3rem;
}

fieldset#select-3 {
    display: none;
}

label[for='action'] {
    color: cyan;
}

select#action {
    background-color: cyan;
    margin: .5rem;
    border-radius: .5rem;
    padding: .3rem;
}

input[type='submit'] {
    border-radius: 1rem;
    transition-duration: .5s;
    background-color: black;
    color: yellow;
    outline: 1px solid gray;
    display: none;
}

input[type='submit']:hover {
    background-color: rgb(0, 255, 0);
    color: black;
}

/* --------- Footer ---------- */

footer#footer-index {
    padding: 2rem;
    min-height: 25vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media only screen and (max-width: 651px) {
    select#animal {
        width: 50vw;
    }

    form {
        width: fit-content;
    }
}